/*
 * App Custom App variables SCSS
 * ----------------------------------------------------------------------------
 * Place here all custom app variables.
 */

// TOP LEADERS brand colors
$brand-color: #36a887;
$primary: $brand-color;
$primary-dark: #42c49e; // Slightly lighter for dark mode readability
