/*
 * App CUSTOM theme SCSS
 * ----------------------------------------------------------------------------
 * DigiLearn custom styles.
 */

/*
 * Light Theme
 * -------------------------------------------
 */
:root {
    --core-header-toolbar-background: #36a887;
    --core-header-toolbar-color: #ffffff;
    --core-header-buttons-color: #ffffff;

    --core-bottom-tabs-badge-color: #36a887;
    --core-bottom-tabs-border-color-active: #36a887;
    --core-tab-border-color-active: #36a887;
}

/*
 * Dark Theme
 * -------------------------------------------
 */
:root.dark {
    --core-header-toolbar-background: #2d8e72;
    --core-header-toolbar-color: #ffffff;
    --core-header-buttons-color: #ffffff;
}
